@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("ocean.jpg");
    height: 100vh;
    background-size: cover;
    text-align: center;
}

.bg-card {
    background-color: #ffffff;
    padding: 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.heading {
    font-family: "Bree Serif";
    font-size: 40px;
    color: #20384a;
}

.paragraph {
    font-size: 18px;
    font-family: "Playfair Display";
    font-weight: bold;
    color: #707070;
}

.button {
    width: 130px;
    height: 36px;
    border-radius: 20px;
    background-color: #25b1cc;
    color: #ffffff;
    border-width: 0px;
    text-transform: capitalize;
    font-family: "Playfair Display";
}

.places-container {
    background-image: url("place.jpg");
    height: 100%;
    background-size: cover;
    padding: 20px;
}

.main-heading {
    color: #ffffff;
    font-size: 35px;
    font-family: "Bree Serif";
    text-decoration: underline;
}

.places-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 25px;
}

.card-item {
    margin: 10px;
}

.card-heading {
    font-size: 30px;
    font-family: "Playfair Display";
    color: #20384a;
    font-weight: bold;
}

.card-para {
    font-size: 15px;
    color: #707070;
    font-family: "Playfair Display";
    font-weight: 500;
}

.btn1 {
    margin-top: 13px;
}

.image {
    width: 120px;
    height: 130px;
}

.detail-container {
    background-image: url("Sunset-Beach.jpg");
    height: 100%;
    background-size: cover;
    padding: 20px;
}

.detail-card {
    margin-top: 3rem;
}

.detail-content {
    background-color: #ffffff;
    padding: 20px;
}

.details-para {
    color: #707070;
}